@import "tailwindcss";

@theme {
  --color-primary: #2D4059;
  --color-primary-50: #f0f3f7;
  --color-danger: #EA5455;
  --color-danger-50: #fdf3f3;
  --color-danger-200: #f7aaaa;
  --color-danger-400: #f07b7b;
  --color-danger-500: #EA5455;
  --color-danger-600: #d64545;
  --color-danger-800: #9e2a2a;
  --color-accent: #F07B3F;
  --color-warning: #FFD460;
  --color-gray-50: #F9FAFB;
  --color-gray-900: #111827;
}

body {
  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
